@model List<Product>

@{
    ViewData["Title"] = "Products";
}
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<style>
    .card-img-top {
        width: 100%;
        height: 600px; /* تعديل الارتفاع حسب الحاجة */
        object-fit: cover; /* يملأ الصورة المساحة دون التشويه */
        object-position: center; /* لضبط مركز الصورة */
    }
</style>
<div class="container mt-5">
    <h1 class="text-center">Products</h1>
    <p class="text-muted text-center">Find the best products from the selected category.</p>
    <hr />

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">

                        <h5 class="card-title">@item.Name</h5>
                        <img src="/images/products/@item.Name .jfif" alt="@item.Name" class="card-img-top">

                        <p class="card-text">@item.Description</p>  
                        <p class="card-text text-success">Price: $@item.Price</p>
                        

                        <!-- Add to Order Button -->
                        <form asp-controller="Dashboard" asp-action="AddToOrder" method="post">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <button type="submit" class="btn btn-primary w-100">Add to Order</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <a asp-controller="Order" asp-action="Index"  class="btn btn-primary">
        View MyOrder
    </a>

    <!-- Confirmation Message -->
    @if (!string.IsNullOrEmpty(ViewBag.Message2))
    {
        <div class="alert alert-success text-center mt-4">
            @ViewBag.Message2
        </div>
    }
</div>
